caption{
    border: 2px solid black;
}
#number1{
    background-color: cornflowerblue;
}
#number3{
    background-color: cornflowerblue;
}
#nome{
    background-color: cornflowerblue;
}
#nome2{
    background-color: cornflowerblue;
}
#n1{
    background-color: cornflowerblue;
}
#n2{
    background-color: cornflowerblue;
}
#jogo{
    background-color: cornflowerblue;
}